pyrogram
TgCrypto
py-tgcalls==0.9.7
python-dotenv
git+https://github.com/Tarx77/Hexor.git
youtube_search_python
requests
aiohttp
aiofiles
asyncio
search_engine_parser
ffmpeg-python
ffmpeg
Pillow
ujson
git+https://github.com/joetats/youtube_search
